@charset "UTF-8";

/**/
div.corpo-Astro-home {
	padding: 20px;
	background-color: #8B0000;
	color: #DAA520;
	font-size: x-large;
	font-family: sans-serif;
	background-image: url("../imagens/fundo.png");
	background-repeat: no-repeat;
	background-position: 50%, 70%;
	background-size: 25%;
	align-content: center;
	align-items: center;
	align-self: center;
	background-image: url("../imagens/fundo.png");
}

div.corpo-Astro {
	padding: 20px;
	background-color: #8B0000;
	color: #DAA520;
	font-size: x-large;
}

div.horoscopo {
	border-width: 10px;
	border-style: double;
	border-color: #DAA520;
	font-size: large;
	text-align: center;
	font-weight: bold;
}

div.AstroForm {
	border-width: 10px;
	border-style: double;
	border-color: #DAA520;
	font-size: large;
	font-weight: bold;
	text-indent: 5%;
}

table.table {
	border-width: 10px;
	border-style: double;
	border-color: #DAA520;
	width: 100%;
	align-content: center;
	align-items: center;
	align-self: center;
}

label {
	display: block;
}

input.error {
	border: 2px solid blue;
}

label.error {
	font-weight: bold;
	color: blue;
	text-decoration: blink;
}

#voltar {
	margin-top: 165%;
}

img.signo {
	width: 100%;
	height: 70%;
}

#nome {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%
}

#idade {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%
}